
/* Importación de fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/************************************HEADER************************************/
header {
    background: linear-gradient(90deg, #6a5acd, #9b59b6);
    color: white;
    padding: 50px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
}


#h1{
    font-size: 2.5em;
    margin: 10px 0;
    animation: bounce 2s ease infinite alternate; /* Suave animación de rebote */
}
/************************************MENU************************************/
/* Barra de navegación */
.bar {
    background-color: #f4f6f9;
    color: #6a5acd;
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bar div {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 5px solid transparent;
    transition: all 0.3s ease;
}

.bar div:hover {
    color: #5a67d8;
    border-bottom: 5px solid #5a67d8;
    transform: scale(1.05);
}

#nav {
    text-decoration: none;
    color: inherit;
}

/* Efecto fade-in */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

/************************************CONTENIDO************************************/


h1 {
    margin: 0;
    font-size: 2.5rem;
    
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #5a67d8;
    font-size: 2rem;
}

.step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}


.step {
    padding: 40px;
    background-color: white;
    box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.3s;
 }
 
 .imgiz {
     top: 10px;
     width: 300px;
 }
 
 .row {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
 }
 
 /*Efecto */
 .step:hover {
     transform: translateY(-10px);
 }   
 
 .step h3 {
     font-size: 1.5rem;
     color: #333;
     margin-bottom: 10px;
  
 }
 
 .step p {
     line-height: 1.2;
     font-size: 1rem; /*16 pixeles*/
     color: #666;
     margin-left: 30px;
     margin-right: 30px;
 }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Menú normal (visible solo en pantallas mayores a 750px) */
.menu-normal {
    display: flex !important;
  }
  
  .menu-movil {
    display: none !important;
  }
  
  /* Menú móvil (visible solo en pantallas menores o iguales a 750px) */
  @media (max-width: 750px) {
    .menu-normal {
        display: none !important;
    }
  
    .menu-movil {
        display: block !important;
        
    }
  }


  /* Keyframes para animación de rebote */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
}
