body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.bar{
    background-color: #f4f4f9;
    color: grey; 
    width: 70rem;
    border-bottom: 2px solid grey;
} /* Estilo general para las columnas */
.bar div {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 5px solid transparent; 
  cursor: pointer;
  transition: color 0.1s ease, border-bottom-color 0.1s ease, transform 0.1s ease; /* Transiciones suaves */

}

/* Estilo cuando está en la sección activa (MISION) */
.bar .mision.active {
  color: #5a67d8;
  border-bottom: 5px solid #5a67d8; /* Borde inferior rojo solo cuando está activo */
  transition: color 0.3s ease, border-bottom-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  transform: scale(1.05);
}
 /* Efecto hover: cambia color y borde */
 .bar div:hover {
    color: #5a67d8; /* Cambia el color de las letras a rojo */
    border-bottom: 5px solid #5a67d8; /* Cambia el borde inferior a rojo */
     /* Agranda ligeramente el texto al hacer hover */

  }
  header {
    background-color: #5a67d8;
    color: white;
    padding: 30px;
    text-align: center;
    /* box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1); */
}
h1 {
    margin: 0;
    font-size: 2.5rem;
}

a{
  text-decoration: none;
  color: inherit;         /* Usa el color del texto del elemento padre */
  cursor: pointer;
}
a:hover, a:active {
  text-decoration: none; /* Mantén el estilo sin subrayado en hover o active */
  color: inherit;        /* Evita que el color cambie al hacer hover o clic */
}

.developers-section{
  width: 70rem;
}

.step-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}

.step {
  padding: 40px;
  background-color: white;
  box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
  margin-bottom: 20px;
  border-radius: 25px;
  text-align: center;
  transition: transform 0.3s;
}

.imgiz {
   top: 10px;
   width: 400px;
}
.step:hover {
  transform: translateY(10px);
}   

.step h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;

}

.step p {
  line-height: 1.2;
  font-size: 1rem; /*16 pixeles*/
  color: #666;
  margin-left: 30px;
  margin-right: 30px;
}