body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.bar{
    background-color: #f4f4f9;
    color: grey; 
    width: 70rem;
    border-bottom: 2px solid grey;
} /* Estilo general para las columnas */
.bar div {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 5px solid transparent; 
  cursor: pointer;
  transition: color 0.1s ease, border-bottom-color 0.1s ease, transform 0.1s ease; /* Transiciones suaves */

}

/* Estilo cuando está en la sección activa (MISION) */
.bar .mision.active {
  color: #5a67d8;
  border-bottom: 5px solid #5a67d8; /* Borde inferior rojo solo cuando está activo */
  transition: color 0.3s ease, border-bottom-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  transform: scale(1.05);
}
 /* Efecto hover: cambia color y borde */
 .bar div:hover {
    color: #5a67d8; /* Cambia el color de las letras a rojo */
    border-bottom: 5px solid #5a67d8; /* Cambia el borde inferior a rojo */
    transform: scale(1.05); /* Agranda ligeramente el texto al hacer hover */

  }
  header {
    background-color: #5a67d8;
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
}
h1 {
    margin: 0;
    font-size: 2.5rem;
}