body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5a67d8;
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
}


/************************************MENU************************************/
.bar{
    justify-content: center;
    font-family: sans-serif;
    color: grey; 
    width: 70rem;
    border-bottom: 2px solid grey;

} /* Estilo general para las columnas */
.bar div {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 5px solid transparent; 
  cursor: pointer;
  transition: color 0.1s ease, border-bottom-color 0.1s ease, transform 0.1s ease; /* Transiciones suaves */

}

/* Estilo cuando está en la sección activa (MISION) */
.bar .mision.active {
  color: #5a67d8;
  border-bottom: 5px solid #5a67d8; /* Borde inferior rojo solo cuando está activo */
  transition: color 0.3s ease, border-bottom-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
  transform: scale(1.05);
}
 /* Efecto hover: cambia color y borde */
 .bar div:hover {
    color: #5a67d8; /* Cambia el color de las letras a rojo */
    border-bottom: 5px solid #5a67d8; /* Cambia el borde inferior a rojo */
     /* Agranda ligeramente el texto al hacer hover */

}

#nav{
    text-decoration: none;
    color: inherit;         /* Usa el color del texto del elemento padre */
    cursor: pointer;
}
#nav:hover, #nav:active {
    text-decoration: none; /* Mantén el estilo sin subrayado en hover o active */
    color: inherit;        /* Evita que el color cambie al hacer hover o clic */
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

section {
    padding: 0px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    color: #5a67d8;
    font-size: 2rem;
}

.step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
border-radius: 10px;
width: 30%;
margin-bottom: 20px;
padding: 20px;
text-align: center;
transition: transform 0.3s;
*/

.step {
   padding: 40px;
   background-color: white;
   box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
   margin-bottom: 20px;
   border-radius: 25px;
   text-align: center;
   transition: transform 0.3s;
}

.imgiz {
    top: 10px;
    width: 300px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*Efecto */
.step:hover {
    transform: translateY(-10px);
}   

.step h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
 
}

.step p {
    font-size: 1rem; /*16 pixeles*/
    color: #666;
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .step {
        width: 100%;
    }
}


/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 1024px) {
    .step {
        width: 45%;
    }

    h1 {
        font-size: 5vw;
    }

    header p {
        font-size: 2vw;
    }
}

/* Para móviles */
@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .step {
        width: 100%;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 6vw;
    }

    header p {      
        font-size: 2.5vw;
    }
}

/*
position: absolute; Coloca la imagen fuera del flujo normal del documento 
    left: 0;            /* Alinea la imagen a la izquierda 
    top: 50px;          /* Ajusta la posición desde arriba 
    width: 150px;       /* Controla el ancho de la imagen 
    height: auto;       /* Mantiene la proporción de la imagen 
    margin-left: 10px;  /* Ajusta el margen izquierdo 
/*


