body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f4f4f9, #d3d3f9);
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #6c63ff;
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(32, 31, 31, 0.1);
}

.bar {
    justify-content: center;
    font-family: sans-serif;
    color: grey;
    width: 70rem;
    border-bottom: 2px solid grey;
}

.bar div {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: color 0.1s ease, border-bottom-color 0.1s ease, transform 0.1s ease;
}

.bar div:hover {
    color: #5a67d8;
    background-color: #ececff;
    border-bottom: 5px solid #5a67d8;
    transform: scale(1.05);
}

#nav {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    background: linear-gradient(135deg, #6c63ff, #a983ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.step-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.step {
    width: 45%;
    padding: 40px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(32, 31, 31, 0.2);
    margin-bottom: 20px;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.3s;
}

.step:hover {
    transform: translateY(-10px);
}

.step h3 {
    font-size: 1.5rem;
    color: #6c63ff;
    margin-bottom: 10px;
}

.step p {
    font-size: 1rem;
    color: #666;
    margin: 0 30px;
}

.imgiz {
    top: 10px;
    width: 300px;
    transition: transform 0.3s ease;
}

.imgiz:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 1024px) {
    .step {
        width: 100%;
        margin-bottom: 20px;
    }
    h1 {
        font-size: 5vw;
    }
    header p {
        font-size: 2vw;
    }
}
